@media screen and (max-width: 950px) {
  .header-item {
   background-color: var(--color-gray6);
   bottom: 0;
   margin: 0;
   width: 100%;
   z-index: 101;
   display: flex;
   justify-content: space-around;
 }

}
@media screen and (max-width: 500px) {
  .header-item button i{
    font-size: .8rem;
    padding: .3rem ;
      margin: .3rem;
 }
}



/* home */

@media screen and (max-width: 1400px) {
  .home > .container-home > .right-con-home h1 {
    font-size: 1.5rem;
  }
  .home > .container-home > .right-con-home p {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 1250px) {
  .home > .container-home > .right-con-home {
    padding: 0 8rem;
  }
  
}
@media screen and (max-width: 1150px) {
  .home > .container-home > .right-con-home {
    padding-left: 5rem;
  }
}
@media screen and (max-width: 1100px) {
  .home > .container-home > .left-con-home > .imge-home > img {
    margin-left: 0rem;
  }
  .home > .container-home > .left-con-home > .bac-color-home {
    display: none !important;
  }
  .home > .container-home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 6rem;
  }
}
@media screen and (max-width: 950px) {
  .home > .container-home > .right-con-home {
padding: 0 2rem;
  }
  
}

@media screen and (max-width: 600px) {
  .home > .container-home > .left-con-home > .imge-home img {
    width: 20rem;
    height: 25rem;
  }
  .home > .container-home > .right-con-home h1 {
    font-size: 1rem;
  }
  .home > .container-home > .right-con-home p {
    font-size: 0.8rem;
  }
  .home > .container-home > .right-con-home .btn-don-home{
    font-size: .8rem;
  }
}

/* about */

@media screen and (max-width: 1100px) {
  .about .about-container{
    grid-template-columns: auto;
  }
  .about .about-container .right-about{
    margin: 2rem 0;
  }
  .about .about-container .left-about p{
    width: 90%;
  }


}
@media screen and (max-width: 1050px) {
  .about > .timeline-item {
    grid-template-columns: auto;
  }
 
}
@media screen and (max-width: 900px) {

  
}
@media screen and (max-width: 700px) {

  .about > .progress-bar-item {
    padding-left: 1rem !important ;
    grid-template-columns: repeat(1, 1fr);
  }
 
  .about .timeline-item .ti-it .tl-text h1{
    font-size: 1rem;
  }
  .about .timeline-item .ti-it .tl-text p{
    font-size: .8rem;

  }
  
}
@media screen and (max-width: 600px) {
  .about .about-container .right-about .right-about-item{
    grid-template-columns: auto;
    margin: .5rem 0 !important;
  }

  .about .about-container .left-about {
    font-size: .9rem ;
  }
  .about .about-container .left-about p{
    font-size: .8rem ;
  }


}
@media screen and (max-width: 500px) {
  .about > .main-titel > h1 {
    font-size: 4.5rem !important;
  }
  .about > .main-titel > h2 {
    font-size: 3rem !important;
  }

  .about .about-container .left-about {
    font-size: .6rem ;
  }
  .about .about-container .left-about p{
    font-size: .5rem ;
  }
  .about .about-container .left-about .btn-don-about a{
    font-size: .8rem;
  }
}
@media screen and (max-width: 400px) {
  .about > .main-titel > h1 {
    font-size: 2.5rem  !important;
  }
  .about > .main-titel > h2 {
    font-size: 1.8rem  !important;
  }

  .about .about-container .right-about .right-about-item .container-about-right{
    width: 10rem;
    height: 14rem;
  }
  .about .about-container .right-about .right-about-item .container-about-right h1{
    font-size:2rem ;
  }
  .about .timeline-item .ti-it .tl-text h1{
width: 15rem;  }
  .about .timeline-item .ti-it .tl-text p{
    width: 15rem;

  }
  .about .timeline-item .ti-it {
    margin-left: 2rem;
  }
}

/* portfolio */


@media screen and (max-width: 1200px) {
  .portfolio > .portfolio-container {
    grid-template-columns: auto auto;

  }

}


@media screen and (max-width: 800px) {
  .portfolio > .portfolio-container {
    grid-template-columns: auto;
   
  }
  .portfolio > .titel {
    font-size: .8rem;
  }
}

@media screen and (max-width: 500px) {
  .portfolio > .main-titel > h1 {
    font-size: 4.5rem;
  }
  .portfolio > .main-titel > h2 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 400px) {
  .portfolio > .main-titel > h1 {
    font-size: 3rem;
  }
  .portfolio > .main-titel > h2 {
    font-size: 1.8rem;
  }

}

/* My Blogs */

@media screen and (max-width: 1150px) {
  .my-blogs > .blogs-container {
    grid-template-columns: auto auto;
  }
}


@media screen and (max-width: 850px) {
  .my-blogs > .blogs-container {
    grid-template-columns: auto;
  
  }
}

@media screen and (max-width: 550px) {

  .my-blogs > .main-titel > h1 {
    font-size: 4.5rem;
  }
  .my-blogs > .main-titel > h2 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 450px) {

  .my-blogs > .main-titel > h1 {
    font-size: 3rem;
  }
  .my-blogs > .main-titel > h2 {
    font-size: 1.8rem;
  }
}


/* Contact */
@media screen and (max-width: 950px){
  .contact-me .contact-all-container .Contact-container .header p{
    width: 100%;
  }
  .contact-me .contact-all-container{
    margin: 0 2rem;
    margin-bottom: 6rem;
  }
}


@media screen and (max-width: 650px) {
 
  .contact-me > .main-titel > h1 {
    font-size: 4.5rem;
  }
  .contact-me > .main-titel > h2 {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 600px) {
  .contact-all-container .Contact-container .header h1{
    font-size: 1.5rem !important;
  }
  .contact-all-container .Contact-container .header p{
    font-size: .8rem !important;
  }
  .contact-item .contact-icon i{
    font-size: .8rem !important;
  }
  .contact-item .contact-icon span{
    font-size: 0.7rem !important;

  }
  .contact-item .contact-Description p{
    font-size: .5rem !important;
  }

}

@media screen and (max-width: 420px) {

  .contact-me .contact-all-container .Contact-item-all .contact-item{
    grid-template-columns: auto;
    margin: 1.5rem 0;
  }

  .contact-me .contact-all-container .Contact-item-all .contact-item .contact-icon {
    margin: 1rem 0rem;
    justify-content: flex-start;
  }
  .contact-me .contact-all-container .btn-don-contact a{
    font-size: .8rem;
  }

  .contact-me > .main-titel > h1 {
    font-size: 3rem;
  }
  .contact-me > .main-titel > h2 {
    font-size: 1.8rem;
  }
}

