/* index */

@media screen and (max-width: 1400px) {
  .index > .container-index > .right-con-index h1 {
    font-size: 1.5rem;
  }
  .index > .container-index > .right-con-index p {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 1250px) {
  .index > .container-index > .right-con-index {
    padding-left: 8rem;
    padding-right: 5rem;
  }
}
@media screen and (max-width: 1150px) {
  .index > .container-index > .right-con-index {
    padding-left: 5rem;
  }
}
@media screen and (max-width: 1100px) {
  .index > .container-index > .left-con-index > .imge-index > img {
    margin-left: 0rem;
  }
  .index > .container-index > .left-con-index > .bac-color-index {
    display: none !important;
  }
  .index > .container-index {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 6rem;
  }
}
@media screen and (max-width: 950px) {
   .header-item {
    background-color: var(--color-gray6);
    bottom: 0;
    margin: 0;
    width: 100%;
    z-index: 101;
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (max-width: 600px) {
  .index > .container-index > .left-con-index > .imge-index img {
    width: 20rem;
    height: 25rem;
  }
  .index > .container-index > .right-con-index h1 {
    font-size: 1rem;
  }
  .index > .container-index > .right-con-index p {
    font-size: 0.8rem;
  }
}

/* about */

@media screen and (max-width: 1100px) {
  .about .about-container{
    grid-template-columns: auto;
  }
  .about .about-container .right-about{
    margin: 2rem 0;
  }
   .header-item {
    background-color: var(--color-gray6);
    bottom: 0;
    margin: 0 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 101;
  }

}
@media screen and (max-width: 1000px) {
  .about > .timeline-item {
    grid-template-columns: auto;
  }
 
}
@media screen and (max-width: 900px) {

  
}
@media screen and (max-width: 700px) {

  .about > .progress-bar-item {
    padding-left: 1rem !important ;
    grid-template-columns: repeat(1, 1fr);
  }
  .about > .stat-titel > .line-stat {
    margin: 2rem 20%;
  }
  .about > .stat-titel > .My-skills {
    margin: 1rem 35%;
  }
  
}
@media screen and (max-width: 600px) {
  .about .about-container .right-about .right-about-item{
    grid-template-columns: auto;
    margin: 5.5rem 0 !important;
  }

  .about .about-container .left-about {
    font-size: .9rem ;
  }
  .about .about-container .left-about p{
    font-size: .8rem ;
  }

}
@media screen and (max-width: 500px) {
  .about > .main-titel > h1 {
    font-size: 5rem !important;
  }
  .about > .main-titel > h2 {
    font-size: 3.5rem !important;
  }

  .about .about-container .left-about {
    font-size: .6rem ;
  }
  .about .about-container .left-about p{
    font-size: .5rem ;
  }
  .header-item i{
    font-size: .5rem ;
    padding: .5rem;
    margin: .5rem;
  }


}
@media screen and (max-width: 400px) {
  .about > .main-titel > h1 {
    font-size: 4rem !important;
  }
  .about > .main-titel > h2 {
    font-size: 2.5rem !important;
  }

  .about .about-container .right-about .right-about-item .container-about-right{
    width: 10rem;
    height: 14rem;
  }
  .about .about-container .right-about .right-about-item .container-about-right h1{
    font-size:2rem ;
  }
}

/* portfolio */

@media screen and (max-width: 1300px) {
  .portfolio > .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 18rem;
  }
}
@media screen and (max-width: 1200px) {
  .portfolio > .portfolio-container {
    padding: 0 15rem;
  }
}
@media screen and (max-width: 1100px) {
  .portfolio > .portfolio-container {
    padding: 0 10rem;
  }
  .portfolio > .portfolio-container {
    padding-bottom: 6rem !important;
  }
   .header-item {
    bottom: 0;
    margin: 0 0;
    width: 100%;
    background-color: var(--color-gray6);
    z-index: 101;
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (max-width: 950px) {
  .portfolio > .portfolio-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 18rem;
    padding-bottom: 7rem;
  }
}
@media screen and (max-width: 800px) {
  .portfolio > .portfolio-container {
    padding: 0 15rem;
    padding-bottom: 7rem;
  }
  .portfolio > .titel {
    padding-left: 1rem;
  }
}
@media screen and (max-width: 700px) {
  .portfolio > .portfolio-container {
    padding: 0 10rem;
    padding-bottom: 7rem;
  }
}
@media screen and (max-width: 600px) {
  .portfolio > .portfolio-container {
    padding: 0 5rem;
    padding-bottom: 7rem;
  }
}
@media screen and (max-width: 500px) {
  .portfolio > .main-titel > h1 {
    font-size: 5rem;
  }
  .portfolio > .main-titel > h2 {
    font-size: 3rem;
  }
  .portfolio > .portfolio-container {
    padding: 0 2rem;
    padding-bottom: 7rem;
  }
}
@media screen and (max-width: 400px) {
  .portfolio > .main-titel > h1 {
    font-size: 4rem;
  }
  .portfolio > .main-titel > h2 {
    font-size: 2rem;
  }
  .portfolio > .portfolio-container {
    padding: 0 0rem;
    padding-bottom: 6rem;
  }
}

/* My Blogs */

@media screen and (max-width: 1100px) {
  .my-blogs > .blogs-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 13rem;
  }
}
@media screen and (max-width: 1150px) {
  .my-blogs > .blogs-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem 25rem;
    padding-bottom: 6rem;
  }
   .header-item {
    bottom: 0;
    margin: 0 0;
    width: 100%;
    background-color: var(--color-gray6);
    z-index: 101;
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (max-width: 1000px) {
  .my-blogs > .blogs-container {
    padding: 2rem 20rem;
  }
}
@media screen and (max-width: 850px) {
  .my-blogs > .blogs-container {
    padding: 2rem 15rem;
  }
}
@media screen and (max-width: 750px) {
  .my-blogs > .blogs-container {
    padding: 2rem 10rem;
  }
}
@media screen and (max-width: 550px) {
  .my-blogs > .blogs-container {
    padding: 2rem 5rem;
  }
  .my-blogs > .main-titel > h1 {
    font-size: 5.5rem;
  }
  .my-blogs > .main-titel > h2 {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 450px) {
  .my-blogs > .blogs-container {
    padding: 2rem 2rem;
  }
  .my-blogs > .main-titel > h1 {
    font-size: 4.5rem;
  }
  .my-blogs > .main-titel > h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 380px) {
  .my-blogs {
    position: relative;
  }
  .my-blogs > .blogs-container {
    padding: 2rem 1rem;
  }
  .my-blogs > .main-titel > h1 {
    font-size: 3.5rem;
  }
  .my-blogs > .main-titel > h2 {
    font-size: 2rem;
  }
}

/* Contact */

@media screen and (max-width: 1350px) {
  .contact-me
    > .contact-all-container
    > .Contact-item-all
    > .contact-item
    > .contact-Description
    > p {
    padding-left: 8rem !important;
  }
}
@media screen and (max-width: 1000px) {
  .contact-me > .contact-all-container {
    padding-bottom: 6.5rem;
  }
  .contact-me
    > .contact-all-container
    > .Contact-item-all
    > .contact-item
    > .contact-Description
    > p {
    padding-left: 5rem !important;
  }
   .header-item {
    display: flex;
    justify-content: space-around;
    bottom: 0;
    margin: 0 0;
    background-color: var(--color-gray6);
    width: 100%;
    z-index: 101;
  }
  .contact-me > .contact-all-container > .form-login-contact {
    width: 90%;
  }
}
@media screen and (max-width: 860px) {
  .contact-me
    > .contact-all-container
    > .Contact-item-all
    > .contact-item
    > .contact-Description
    > p {
    padding-left: 0rem !important;
  }
}
@media screen and (max-width: 700px) {
  .contact-me > .contact-all-container {
    padding: 0.5rem !important;
    padding-bottom: 6.5rem !important;
  }
  .contact-me > .main-titel > h1 {
    font-size: 5.5rem;
  }
  .contact-me > .main-titel > h2 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 550px) {
  .contact-me > .contact-all-container {
    padding: 0.5rem !important;
    padding-bottom: 6.5rem !important;
  }
  .contact-me > .main-titel > h1 {
    font-size: 4.5rem;
  }
  .contact-me > .main-titel > h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 500px) {
  .contact-me > .contact-all-container {
    padding: 0.5rem !important;
    padding-bottom: 6.5rem !important;
  }
  .contact-me > .main-titel > h1 {
    font-size: 4rem;
  }
  .contact-me > .main-titel > h2 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 420px) {
  .contact-me > .contact-all-container {
    padding: 0.5rem !important;
    padding-bottom: 6.5rem !important;
  }
  .contact-me > .main-titel > h1 {
    font-size: 3.5rem;
  }
  .contact-me > .main-titel > h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 390px) {
  .contact-me > .main-titel > h1 {
    font-size: 3.5rem;
  }
  .contact-me > .main-titel > h2 {
    font-size: 2.5rem;
    padding: 1rem 4.5rem;
  }
  .contact-me
    > .contact-all-container
    > .Contact-item-all
    > .contact-item
    > .contact-icon
    > i {
    font-size: 0.8rem !important;
  }
  .contact-me
    > .contact-all-container
    > .Contact-item-all
    > .contact-item
    > .contact-icon
    > span {
    font-size: 0.7rem !important;
  }
  .contact-me
    > .contact-all-container
    > .Contact-item-all
    > .contact-item
    > .contact-Description
    > p {
    font-size: 0.7rem !important;
  }
}
